body{
    background-image: url("../assets/img/fundo.gif");
    background-color: black;
}

h1{
    color:red;
    font-size: 70px;
    text-align: center;
}

p{
    color: aliceblue;
    text-align: center;
    font-size: 40px;
}

h2{
    color: red;
    font-size: 30px;
}

ol{
    color:aliceblue;
    font-size: 30px;
    line-height: 100px;
}

ul{
    color: aliceblue;
    font-size: 30px;
    line-height: 100px;
}

img{
    width: 400px;
    height: 300px;
    border: 1px solid aliceblue;
}

#navScroll{
    background-color: green;
}

#top3{
    color: black;
}

#aguardados{
    color: black;
}

#top{
    color: black;
}
